<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% comment %} <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css"> {% endcomment %}
        <title></title>
    </head>
    <body>
        <h1>{{bud2.name}} </h1>
        <br><h4>date</h4>
        {{bud2.date}}

        <br><h4>from</h4>
        {{bud2.from}}
        <br><h4>amount</h4>
        {{bud2.tags}}
        <br><h4>date</h4>
        {{bud2.tags}}
    </body>
</html> 